.card-img-top{

    width: 82%;
}

/*  course showw   */

.the-course {
  
    margin-top : 10px;
    background-color: #efefef;
    padding:10px;
    margin-bottom : 20px;
}
.course-info {

    padding-top: 10px;


}

